:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282D35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
}

/* NAVBAR */

header {
  background-color: #21222A;
  padding: 30px 25px;

}

nav {
  display: flex;
  align-items: center;
  gap:0.5rem;
}

nav > img {
  width: 80px;
}

nav span {
  font-size: 1.5rem;
  font-weight: 600;
  color: #61DAFB;
}

/* MAIN */

main {
  padding: 60px 35px;
  background-image: url(/src/components/React-logo.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: 140%;
  background-position-y: 75%;
}

main h1 {
  font-weight: 800;
  font-size: 3.2rem;
}

main li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}